CONTROLLER_IP = '$CONTROLLER_IP'
OS_AUTH_URL = 'http://%s:5000/v2.0/' % CONTROLLER_IP
OS_SERVICE_ENDPOINT = 'http://%s:35357/v2.0/' % CONTROLLER_IP
OS_USERNAME = '$OS_USERNAME'
OS_TENANT = '$OS_TENANT_NAME'
OS_TOKEN = '$OS_TOKEN'
OS_PASSWORD = '$OS_PASSWORD'
SPAWN_DELAY = 0
ACTIVATION_TIMEOUT = 1200
BOOT_TIMEOUT = 1200
TEST_TIMEOUT = 1200

MANAGEMENT_NETWORK_ID = '$MANAGEMENT_NET_ID'
MANAGEMENT_NAME = '$MANAGEMENT_NET_NAME'
MANAGEMENT_CIDR = '$MANAGEMENT_NET_CIDR'
PRIVATE_CIDR = '192.168.0.0/24'
FLAVOR_ID = '$AGENT_FLAVOR_ID'
IMAGE_ID = '$AGENT_IMAGE_ID'
ROOT_DIR = '/tmp'

UPDATE_NEUTRON_QUOTAS = False  # Set to False for Contrail testing
USE_DHCP = True  # Set to True for Contrail testing
